<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851861970735-fosgov24mhhor5li3dobtp0fodmj327h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851861970735-fosgov24mhhor5li3dobtp0fodmj327h</string>
	<key>API_KEY</key>
	<string>AIzaSyB567gUK5w09dAykf4M79lXrlx5WBogD-0</string>
	<key>GCM_SENDER_ID</key>
	<string>851861970735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled1</string>
	<key>PROJECT_ID</key>
	<string>movies-319</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-319.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851861970735:ios:b29c11cc69d3b5257c4bda</string>
</dict>
</plist>